# Angular
/dist
/tmp
/out-tsc
/node_modules
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
.vs/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment files
*.env
*.env.*
!.env.example

# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json 